body {
	margin: 0 20%;
	margin-bottom: 100px;
	font-family: 'Sen', sans-serif;
}

pre {
	white-space: pre;
	background-color: rgb(241, 241, 241);
	border: solid rgb(167, 167, 167) 1px;
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	display: block;
	tab-size: 30px;
	overflow-x: scroll;
}

.number { color: #a50008; }
.comment { color: gray; }
.keyword-1 { color: #cf5a17; }
.keyword-2 { color: #aa0f0f; }
.keyword-3 { color: #cf5a17; }

h1, h2, h3 {
	margin-bottom: 0;
}

a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

code {
	font-family: monospace;
	background-color: rgb(241, 241, 241);
	border: solid rgb(167, 167, 167) 1px;
	padding: 1px 5px;
	margin: 3px 0;
	border-radius: 5px;
}

p {
	text-indent: 30px;
	color: rgb(53, 53, 53);
}